DATABASE_URL=postgres://postgres:postgres@localhost/deathnote_contributions_db           # URL to the database
PROFILE_ADDRESS=0x004176872b71583cb9bc3671db28f26e7f426a7c0764613a0838bb99ef373aa6
REGISTRY_ADDRESS=0x04e16efc9bc2d8d40ecb73d3d69e3e2d6f0fc3e2e6e9b7601310fdfa7dd6c7cf
CONTRIBUTIONS_ADDRESS=0x06395ab022755559ab3890f7ea34c542004a6eda556c94c6d8e1d39cf891fba6
PRIVATE_KEY=0x0                                                                          # Private key of the back-end account
ACCOUNT_ADDRESS=0x0                                                                      # Account of the feeder back-end responsible of pushing contributions in the smart contract
JSON_RPC_URI=https://13.38.227.15:9545                                                   # URI to the JSON RPC node
NB_TRX_IN_BATCH=100                                                                      # Number of transactions sent in a batch
API_KEY="ROOT"
GITHUB_TOKEN="YOUR_PERSONAL_ACCESS_TOKEN"
API_URL="http://localhost:8000"
APIBARA_URL="http://localhost:7171"                                                      # URL to the apibara server
