@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  body {
    @apply text-greyscale-50;
    @apply bg-black;
  }

  .markdown-body {
    background-color: transparent !important;
  }

  .markdown-body ul {
    list-style: disc;
  }

  .markdown-body ol {
    list-style: auto;
  }
}

@layer components {
  .rounded-md.pseudo-outline::before {
    border-radius: 7px;
  }
  .rounded-lg.pseudo-outline::before {
    border-radius: 9px;
  }
  .rounded-xl.pseudo-outline::before {
    border-radius: 13px;
  }
  .rounded-2xl.pseudo-outline::before {
    border-radius: 17px;
  }
  .rounded-md.pseudo-outline-2::before {
    border-radius: 8px;
  }
  .rounded-lg.pseudo-outline-2::before {
    border-radius: 10px;
  }
  .rounded-xl.pseudo-outline-2::before {
    border-radius: 14px;
  }
  .rounded-2xl.pseudo-outline-2::before {
    border-radius: 18px;
  }
  .rounded-md.pseudo-outline-3::before {
    border-radius: 9px;
  }
  .rounded-lg.pseudo-outline-3::before {
    border-radius: 11px;
  }
  .rounded-xl.pseudo-outline-3::before {
    border-radius: 15px;
  }
  .rounded-2xl.pseudo-outline-3::before {
    border-radius: 19px;
  }
  .rounded-md.pseudo-outline-4::before {
    border-radius: 10px;
  }
  .rounded-lg.pseudo-outline-4::before {
    border-radius: 12px;
  }
  .rounded-xl.pseudo-outline-4::before {
    border-radius: 16px;
  }
  .rounded-2xl.pseudo-outline-4::before {
    border-radius: 20px;
  }
  .rounded-full[class^="pseudo-outline"]::before,
  .rounded-full[class*=" pseudo-outline"]::before {
    border-radius: 9999px;
  }
  .border-multicolored::before {
    position: absolute;
    border: "none";
    content: "";
    inset: 0;
    padding: 1px;
    border: unset;
    background: linear-gradient(to right, #6808ad, #b612a5, #dd6a37, #3107b6);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  .bg-rainbow {
    background: linear-gradient(90deg, #6808ad 25%, #dd6a37 50% 52%, #3107b6 75%);
  }

  .opaque {
    opacity: 1 !important;
  }
}
