@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  }

  body {
    @apply text-greyscale-50;
    @apply bg-black;
  }

  .markdown-body {
    background-color: transparent !important;
  }

  .markdown-body ul {
    list-style: disc;
  }

  .markdown-body ol {
    list-style: auto;
  }

  /* Input[type=number] reset */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;

    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  /* Boder-radius */
  .rounded-lg.pseudo-outline::before {
    border-radius: 9px;
  }
  .rounded-xl.pseudo-outline::before {
    border-radius: 13px;
  }
  .rounded-2xl.pseudo-outline::before {
    border-radius: 17px;
  }
  .rounded-lg.pseudo-outline-2::before {
    border-radius: 10px;
  }
  .rounded-xl.pseudo-outline-2::before {
    border-radius: 14px;
  }
  .rounded-2xl.pseudo-outline-2::before {
    border-radius: 18px;
  }
  .rounded-lg.pseudo-outline-3::before {
    border-radius: 11px;
  }
  .rounded-xl.pseudo-outline-3::before {
    border-radius: 15px;
  }
  .rounded-2xl.pseudo-outline-3::before {
    border-radius: 19px;
  }
  .rounded-lg.pseudo-outline-4::before {
    border-radius: 12px;
  }
  .rounded-xl.pseudo-outline-4::before {
    border-radius: 16px;
  }
  .rounded-2xl.pseudo-outline-4::before {
    border-radius: 20px;
  }
  .rounded-full[class^="pseudo-outline"]::before,
  .rounded-full[class*=" pseudo-outline"]::before {
    border-radius: 9999px;
  }
}
